.delivery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  gap: 56px 0;
  box-sizing: border-box;
}

.delivery__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px 16px;
}

.delivery__title {
  font-family: "alfa_slab_one", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;
  /* identical to box height */
  text-align: center;
  /* Dark */
  color: #1e1d23;
  margin: 0;
}

.delivery__seperator {
  width: 233px;
  object-fit: cover;
  object-position: center;
}

.delivery__about-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 439px));
  width: 100%;
  max-width: 1320px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 0px 20px 20px 0px;
}

.delivery__about-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px 0;
  max-width: 439px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 1px;
  border-right: 1px dashed #ffa101;
  padding: 56px 24px;
  box-sizing: border-box;
}

.delivery__about-img-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delivery__about-img {
  width: 84px;
  height: 76px;
}

.delivery__about-counter {
  position: absolute;
  top: 0;
  left: 100px;
}

.delivery__about-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 130%;
  /* identical to box height, or 34px */
  text-align: center;
  /* Dark */
  color: #1e1d23;
  margin: 0;
}

.delivery__about-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */
  text-align: center;
  /* Secondary */
  color: #4f576a;
  margin: 0;
}

@media screen and (max-width: 935px) {
  .delivery__about-list {
    box-shadow: 0 0 0;
    border-radius: 0;
    padding: 30px;
    box-sizing: border-box;
  }
  .delivery__about-item {
    border-right: 0;
    border-bottom: 1px dashed #ffa101;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  }
}
